name: DevSecOps Pipeline

on: [push]

jobs:
  build-secure:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build Docker Image
        run: docker build -t my-secure-app:${{ github.sha }} .

      - name: Run Trivy Vulnerability Scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'my-secure-app:${{ github.sha }}'
          format: 'table'
          exit-code: '1' # Falla el pipeline si encuentra issues
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'
          
      - name: Run Container for DAST
        run: |
          docker run -d -p 5000:5000 --name test-container my-secure-app:${{ github.sha }}
          sleep 5 # Esperar a que la app levante

      - name: OWASP ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.9.0
        with:
          target: 'http://localhost:5000'
          # Fail only on High severity alerts options
          fail_action: true 
          allow_issue_writing: false
